.success-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: var(--primary-alpha-10);
  color: var(--primary-base);
  margin: 0 auto;
}
